/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2E8;
    padding: 1rem;
    margin-bottom: 1rem;
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links {
    display: flex;
    gap: 4rem;
}

.navbar-links a {
    color: #646b52;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}
