/* src/components/Navbar.css */
.navbar {
    position: relative;
    background-color: #EFF2E8;
    box-shadow: -1px 1px 30px 6px #90977e;
    z-index: 1000;
    padding: 1rem;
    transition: all 0.3s ease;
    justify-content: center;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.navbar-links a {
    color: #646b52;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}
