.section {
    
    width: 75vw;
    padding-top: 1px;
    text-align: center;
}

.section h2 {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.section p {
    margin-top: auto;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

.therapy-list {
    text-align: center; /* Wyśrodkowanie listy */
    list-style-type: square; /* Typ punktorów */
}

.therapy-list li {
    text-align: left; /* Wyśrodkowanie tekstu punktów */
    margin-bottom: 10px; /* Odstęp między punktami */
}