.section {
    width: 50vw; /* Szerokość sekcji równa szerokości całego widoku okna */
    background-color: #795b5b;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(199, 12, 12, 0.1);
    text-align: center; /* Centruje zawartość sekcji */
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: #b93232;
}

.section p {
    font-size: 1.2rem;
    background-color: #32b939;
}
