.widget {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.widget-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widget-buttons button {
    background-color: #646b52;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.widget-buttons button .button-icon {
    width: 30px; /* Dostosuj szerokość ikon */
    height: 30px; /* Dostosuj wysokość ikon */
}

.widget-buttons button span {
    flex: 1; /* Tekst przycisku zajmuje dostępne miejsce */
}

.widget-buttons button:hover {
    background-color: #3d4231;
}