.App {
  text-align: center;
  display: block;
}

.header-image-container {
  margin: 1rem auto;
  text-align: center;
  
}

.header-image {
  max-width: 100%;
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-image-caption {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
}

.main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office-image-container {
  padding-top: 100px;
  align-items: center;
}

.address-container  {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  line-height: 0.5
}

@import './media.css';