.App {
  text-align: center;
  display: block;
}

.header-image-container {
  margin: 1rem auto;
  text-align: center;
  
}

.header-image {
  max-width: 100%;
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-image-caption {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
}

.main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office-image-container {
  padding-top: 100px;
  align-items: center;
}

.address-container  {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  line-height: 0.5
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  .section {
    padding: 1rem;
    font-size: 1rem;
    width: 90vw;
  }

  .App-header h1 {
    font-size: 26px;
    line-height: 1.2;
  }

  .therapy-list {
    list-style-type: none; /* Usunięcie domyślnych punktorów */
    text-align: center; /* Wyśrodkowanie całej listy */
    padding-left: 20vw;
  }
  .therapy-list li {
    text-align: left; /* Wyrównanie tekstu do lewej strony */
    margin-bottom: 10px; /* Odstęp między elementami listy */
    display: flex; /* Użycie flexbox dla łatwiejszego zarządzania wyrównaniem */
    align-items: center; /* Wyśrodkowanie w pionie */
  }

  /* Styl dla punktorów listy terapii */
  .therapy-list li::before {
    content: '▪'; /* Zastosowanie punktora */
    margin-right: 10px; /* Odstęp między punktorem a tekstem */
    flex: none; /* Zapobiega rozciąganiu punktora */
    align-self: flex-start; /* Wyśrodkowanie punktora względem górnego marginesu elementu listy */
  }

  .office-image-container img {
      max-width: 90%;
    }
}