@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  .section {
    padding: 1rem;
    font-size: 1rem;
    width: 90vw;
  }

  .App-header h1 {
    font-size: 26px;
    line-height: 1.2;
  }

  .navbar-links {
    display: flex;
    gap: 1rem;
    /* padding: 0px 25px 0px 0px; */
  }

  .navbar-links a {
    text-decoration: none;
    font-size: 1rem;
}

  .therapy-list {
    list-style-type: none; /* Usunięcie domyślnych punktorów */
    text-align: center; /* Wyśrodkowanie całej listy */
    padding-left: 10vw;
}

  .office-image-container img {
      max-width: 90%;
    }
}